/* Banner */

body.is-preload #hero .image {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
}

body.is-preload #hero h2 {
    opacity: 1;
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -moz-filter: none;
    -webkit-filter: none;
    -ms-filter: none;
    filter: none;
}

body.is-preload #hero p {
    opacity: 01;
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -moz-filter: none;
    -webkit-filter: none;
    -ms-filter: none;
    filter: none;
}

/* Hero Section */
#hero {
    padding: 10em 0 4.75em 0;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("assets/images/unsplash_socialcut.jpg");
    background-size: auto, cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  .hero-text {
    margin: 0 auto;
    width: 80em;
    text-align: right;
  }
  
  #hero .headshot {
    padding-bottom: 2em;
  }
  
  #hero .headshot img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  /* Responsive adjustments from media queries for #hero and .hero-text as needed */
  