<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap" rel="stylesheet">
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <title>Rachel Ehrlich | Portfolio</title>
  </head>
  <body class="is-preload">
    
    <!-- Page Wrapper -->
    <div id="page-wrapper">

    <!-- Header -->
        <header id="header">
            <h1><a href="index.html">Rachel Ehrlich</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Resume</a></li>
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>

    <!-- Hero/ Banner -->
        <section id="hero">
            <div class="hero-text">
                <div class="headshot"><img src="images/headshot_glasses crrop.png"></div>
                <h2>Full Stack Software Engineer</h2>
                <p>Welcome, I'm glad you're here for the journey!</p>
            </div>
        </section>

    <section id="wrapper">   
    <!-- Projects -->
        <section id="projects">
            <h2 id="projects-title">Projects</h2>
            <p>My projects subtitle</p>
            <div class="project-list">
                <article>
                    <!-- Photo by John Schaidler on <a href="https://unsplash.com/photos/9V3Q2W_mRLE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                    <a href="#" class="image"><img src="images/john-schaidler-unsplash.jpg" alt="" /></a>
                    <h3 class="project-title">Project 1 Title</h3>
                    <p>This will be a description of my Project 1. I'll add some details like what language I used.</p>
                    <a href="#" class="learn">See It Live</a>
                </article>
                <article>
                    <!-- Photo by Ashley West Edwards</a> on <a href="https://unsplash.com/photos/usUA4BT_JiU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                    <a href="#" class="image"><img src="images/ashley-edwards-unsplash.jpg" alt="" /></a>
                    <h3 class="project-title">Project 2 Title</h3>
                    <p>This will be a description of my Project 2. I'll add some details like what language I used.</p>
                    <a href="#" class="learn">See It Live</a>                
                </article>            
            </div>
        </section>
    </section>   
</div> 
  </body>
</html>