<!-- Hero/ Banner -->
<section id="hero">
    <div class="hero-text">
      <div class="headshot">
        <img src="assets/imgs/headshot_glasses crrop.png" alt="Headshot" />
      </div>
      <h2>Full Stack Software Engineer</h2>
      <p>Welcome, I'm glad you're here for the journey!</p>
    </div>
  </section>
  
  <!-- Projects -->
  <section id="projects">
    <h2 id="projects-title">Projects</h2>
    <p>My projects subtitle</p>
    <div class="project-list">
      <article>
        <a href="#" class="image">
          <img src="assets/imgs/john-schaidler-unsplash.jpg" alt="Project 1" />
        </a>
        <h3 class="project-title">Project 1 Title</h3>
        <p>This will be a description of my Project 1. I'll add some details like what language I used.</p>
        <a href="#" class="learn">See It Live</a>
      </article>
  
      <article>
        <a href="#" class="image">
          <img src="assets/imgs/ashley-edwards-unsplash.jpg" alt="Project 2" />
        </a>
        <h3 class="project-title">Project 2 Title</h3>
        <p>This will be a description of my Project 2. I'll add some details like what language I used.</p>
        <a href="#" class="learn">See It Live</a>
      </article>
    </div>
  </section>
  