    <!-- Footer -->
    <footer>
        <div class="form">
            <h2>Let's Connect!</h2>
            <p>Fillow out my contact form with any questions and to get in touch with me. 
                Check out my socials to get to know more about me!
            </p>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>
        </div>
        <ul class="socials">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2025 All Rights Reserved</li>
            <li><a href="/disclaimer.html">Design Disclaimer</a></li>
        </ul>
</footer>
